@model Pettapp2.Models.Adopcione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adopcione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAdopcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAdopcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mascota.MascotaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdopcionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
